
#catalog {
  position: absolute;
  top: 32px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow-y: scroll;
  background-color: #eee;
}

.card-group {
  margin-bottom: 4px;
}

.card-group-header {
  margin: 4px 4px 0px 4px;
  width: calc(100% - 10px);
  height: 24px;
  border: 1px solid #aaa;
  background-color: #ffe;
}

.card {
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: #aaa;
  padding: 4px;
  margin: 4px;
  display: inline-table;
  height: 160px;
  width: 360px;
  background-color: #fff;
}

.card:hover {
  background-color: #e0f0ff;
}

.card-header {
  padding-left: 56px;
  padding-bottom: 2px;
}

.card-icon {
  margin-left: -56px;
  float: left;
}

.card-title {
  height: 25px;
  font-size: 16px;
  font-weight: bold;
}

.card-versions {
  height: 23px;
}

.card-features {
  font-size: 14px;
}

.card-desc {
  padding-top: 2px;
  font-size: 14px;
}

/*
@media (min-width: 250px) {
  .card { width: calc(100.000% - 6px); }
}

@media (min-width: 500px) {
  .card { width: calc(50.0000% - 6px); }
}

@media (min-width: 750px) {
  .card { width: calc(33.3333% - 6px); }
}

@media (min-width: 1000px) {
  .card { width: calc(25.0000% - 6px); }
}

@media (min-width: 1250px) {
  .card { width: calc(20.0000% - 6px); }
}

@media (min-width: 1500px) {
  .card { width: calc(16.6666% - 6px); }
}

@media (min-width: 1750px) {
  .card { width: calc(14.2857% - 6px); }
}

@media (min-width: 2000px) {
  .card { width: calc(12.5000% - 6px); }
}
*/

