body {
  margin: 0px;
  height: 100%;
}
.btn {
  border: 1px solid rgba(0, 0, 0, .2);
}
.navbar-sketch {
  min-height: 32px;
  max-height: 32px;
  margin: 0px;
  padding: 5px;
}
.navbar-inverse {
  /*background-color: #400010;*/
}
/*.navbar-sketch .navbar-brand {
  width: 88px;
  color: #ffffff;
  padding: 0;
  margin: 0 0px;
}*/
.navbar-header {
  float: none; /* FIXME */
}
.navbar-text {
  color: #fff;
  font-size: 18px;
  height: 22px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-left: 24px;
  width: 76px;
}
.navbar-text > img {
  position: absolute;
  left: 2px;
}
#rubic-text {
}
#editor {
  position: absolute;
  top: 24px;
  right: 0;
  bottom: 0;
  left: 0;
}
ul.tabbar {
  background-color: #999;
  /*border-width: 1px;
  border-style: none none solid;*/
  padding: 2px 2px 0px;
  margin: 0px;
  overflow: hidden;
  height: 24px;
}
ul.tabbar > li {
  cursor: pointer;
  background-color: #eee;
  border-width: 1px;
  border-style: solid solid none;
  border-color: #999;
  border-radius: 4px 4px 0px 0px;
  padding: 2px 8px 0px;
  font-size: 12px;
  float: left;
  list-style: none;
  line-height: 17px;
  margin-right: 4px;
  height: 22px;
}
header.tabbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 24px;
}
#statusbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #ddd;
}
ul.tabbar > li.active {
  /*background: -webkit-linear-gradient(top, #ffffff 0%,#a0c0f0 100%);*/
  background-color: #fff;
}
ul.tabbar > li.active:hover {
  background-color: #fff;
}
ul.tabbar > li:hover {
  background-color: #ccc;
}
ul.tabbar > li {
  background-color: #bbb;
}
ul.tabbar > li#sketch:hover {
  background-color: #def;
}
ul.tabbar > li#sketch {
  background-color: #69c;
}
span.ph-alt {
  display: none;
}
span.ph-body:empty + span.ph-alt {
  display: inline;
}
li.list-item + li.list-alt {
  display: none;
}
div.modal-compact-frame {
  position: absolute;
  margin: auto;
  padding: 4px;
  min-width: 320px;
  width: 60%;
  height: 150px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  /*border-style: solid;
  border-color: #fff;
  border-width: 1px;*/
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .5);
}
div.modal-compact-footer {
  position: absolute;
  border-top: 1px solid #ccc;
  text-align: right;
  width: calc(100% - 8px);
  padding: 4px;
  height: 24px;
  bottom: 8px;
}
span.menu-icon {
  margin-left: -16px;
  margin-right: 2px;
  width: 14px;
}
.modal-dialog {
  top: 58px;
}
.btn-thin {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
}
#wrapper {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 32px - 32px);
}
#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  bottom: 0;
  /*margin-top: 32px;*/
  /*margin-left: -200px;*/
  overflow-x: hidden;
  overflow-y: scroll;
  background: #333;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  background-color: #555;
}
#sidebar-wrapper::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
#sidebar-wrapper::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #888;
}
#wrapper.toggled #sidebar-wrapper {
  left: 0;
}
#content-wrapper {
  background-color: #ccc;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
  transition: all 0.5s ease;
}
#wrapper.toggled #content-wrapper {
  margin-left: 200px;
}
#output-wrapper {
  background-color: #ccc;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
  transition: all 0.5s ease;
  padding-top: 6px;
}
#wrapper.toggled #output-wrapper {
  margin-left: 200px;
}
.marker-stdout {
  position: absolute;
}
.marker-stderr {
  position: absolute;
  background-color: #833;
}
.resize-h {
  border-top: 1px solid #888;
  background-color: #ddd;
  cursor: row-resize;
  width: 100%;
  height: 6px;
  margin-top: -6px;
}
#output {
  background-color: #444;
  width: 100%;
  height: 100%;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 10px;
  line-height: 32px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
}
.sidebar-nav li.divider {
  border-top: 1px #666 dotted;
  margin: 1px 20px 1px 4px;
  padding: 0;
}
img.supporter-logo {
  max-width: 90%;
  max-height: 48px;
}
.row-vcenter {
  display: table;
  table-layout: fixed;
  min-height: 24px;
}
.col-vcenter {
  vertical-align: middle;
  display: table-cell;
  float: none;
}
.thin-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
