<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="locale.js"></script>
    <script type="text/javascript" src="window.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="window.css">
  </head><body class="controller-board right-hidden">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse"></div>
    <div class="sidebar-left"></div>
    <!--begin-->
    <div class="main-outer when-board bottom-hidden">
      <div class="editor-header">
        <ul class="scroll_tabs_theme_compact" id="board-tabs">
          <li class="i18n board-page-select" data-page="catalog">{Select_board}</li>
          <li class="i18n board-page-select" data-page="features">{Select_features}</li>
          <li class="i18n board-page-select" data-page="iodef">{Configure_io_pins}</li>
          <li class="i18n board-page-select" data-page="savecfg">{Save_your_settings}</li>
        </ul>
      </div>
      <div class="editor-body" id="board-page-noboard">
        <div class="col-md-12">
          <h4 class="i18n spin-text">{Select_board_before}</h4>
        </div>
      </div>
      <div class="editor-body vert-scroll" id="board-page-catalog">
        <div class="col-md-12">
          <ul class="media-list">
            <li class="media" id="board-catalog-tmpl">
              <a class="pull-left"><img class="media-object icon-frame" src="" height="64" width="64"></a>
              <div class="media-body">
                <h4 class="media-heading"><span class="placeholder">(Board name)</span>
                  <button class="board-use-this pull-right btn btn-info btn-xs i18n"><span class="glyphicon glyphicon-ok board-when-selected">&nbsp;</span>{Use_this_board}</button>
                </h4>
                <p class="i18n">
                  <span class="placeholder">(Board Description)</span>
                  <br>{Author}:
                  <span class="placeholder">(author)</span>&nbsp;/&nbsp;
                  <a href="#" class="placeholder" target="_blank">{Website}</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--include(feature_config.html)-->
      <!--include(io_definition.html)-->
      <!--include(save_config.html)-->
    </div>
    <!--end-->
    <div class="sidebar-right">
      <p></p>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom navbar-inverse"></div>

</body></html>
