<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="rubic.js"></script>
    <script type="text/javascript" src="messages.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="window.css">
  </head><body class="hide-right">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse"></div>
    <div class="sidebar-left"></div>
    <div class="main-outer">
      <div class="editor-header">
      </div>
      <!--begin-->
      <div class="editor-body" id="board-features">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title i18n"><b>{Basic_settings}</b></h3>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-4">
                    <label class="control-label i18n">{Selected_board}</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <span class="form-control" id="feature-board"></span>
                      <span class="input-group-btn">
                        <button class="btn btn-default i18n activate-board-catalog">{Change}</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group" id="board-engine">
                  <div class="col-sm-4">
                    <label class="control-label i18n">{Script_engine}</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle i18n" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="placeholder">(Select one)</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li id="feature-engine_tmpl"><a href="#"><img src="" class="list-icon"><span class="placeholder"></span> <span class="label label-danger label-bigger i18n">{Obsolete}</span> <span class="label label-warning label-bigger i18n">{Beta}</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-4">
                    <label class="control-label i18n">{Firmware}</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle i18n" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="placeholder">(Select one)</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li id="feature-fw_tmpl"><a href="#"><img src="" class="list-icon"><span class="placeholder"></span><a class="glyphicon glyphicon-circle-arrow-down i18n" title="{Downloads_required}"></a><span class="label label-danger i18n">{Obsolete}</span><span class="label label-warning i18n">{Beta}</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title i18n"><b>{Serial_communication}</b></h3>
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
      </div>
      <!--end-->
    </div>
    <div class="sidebar-right">
      <p></p>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom navbar-inverse"></div>
  

</body></html>
