<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="locale.js"></script>
    <script type="text/javascript" src="window.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="window.css">
  </head><body class="controller-pref right-hidden">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse"></div>
    <div class="sidebar-left"></div>
    <!--begin-->
    <div class="controller-body when-pref vert-scroll">
      <div class="main-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>{{t 'Appearance'}}</b>
                </h3>
              </div>
              <div class="panel-body">
                <p>{{t 'Desc_of_appearance'}}</p>
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label class="control-label">{{t 'Zoom_ratio'}}</label>
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" id="config-zoom-ratio">
                        <option value="10">{{t 'Zoom_1_0'}}</option>
                        <option value="15">{{t 'Zoom_1_5'}}</option>
                        <option value="20">{{t 'Zoom_2_0'}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>{{t 'History'}}</b>
                </h3>
              </div>
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label class="control-label">{{t 'Max_recent_sketches'}}</label>
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" id="config-max-recent-sketches">
                        <option value="5">{{t 'Count_5'}}</option>
                        <option value="10">{{t 'Count_10'}}</option>
                        <option value="20">{{t 'Count_20'}}</option>
                        <option value="50">{{t 'Count_50'}}</option>
                      </select>
                    </div>
                    <div class="col-sm-12">
                      <p class="help-block"><small>{{t 'Desc_of_max_recent_sketches'}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>{{t 'Internet_access'}}</b>
                </h3>
              </div>
              <div class="panel-body">
                <p>{{t 'Desc_of_internet_access'}}</p>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="config-noconfirm-net">{{t 'Do_not_confirm_internet_access'}}</label>
                </div>
                <p class="help-block">
                  <small>{{t 'Privacy_statement_for_internet_access'}} <a href="https://github.com/kimushu/rubic#privacy-policy" target="_blank">({{t 'Privacy_policy'}})</a></small>
                </p>
              </div>
            </div>
            <!--<div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a id="config-cloud-service"><b>{{t 'Cloud_service_auth'}}</b></a>
                </h3>
              </div>
              <div class="panel-body">
                <p>{{t 'Desc_of_cloud_services'}}
                  <a href="#" class="link-privacy-policy">{{t 'See_privacy_policy'}}</a>
                  <br>
                  <br>{{t 'Desc_of_cloud_auth'}}</p>
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-3">
                      <label for="inputEmail3" class="control-label">{{t 'Google_Drive'}}</label>
                    </div>
                    <div class="col-sm-9">
                      <button type="button" class="btn btn-success when-not-googledrive">{{t 'Acquire_access'}}</button>
                      <button type="button" class="btn btn-danger when-googledrive">{{t 'Revoke_access'}}</button>
                      <span class="when-googledrive">&nbsp;{{t 'Authed_by'}} : <span class="placeholder">(User)</span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3">
                      <label for="inputEmail3" class="control-label">{{t 'Dropbox'}}</label>
                    </div>
                    <div class="col-sm-9">
                      <button type="button" class="btn btn-success when-not-dropbox">{{t 'Acquire_access'}}</button>
                      <button type="button" class="btn btn-danger when-dropbox">{{t 'Revoke_access'}}</button>
                      <span class="when-dropbox">&nbsp;{{t 'Authed_by'}} : <span class="placeholder">(User)</span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3">
                      <label for="inputEmail3" class="control-label">{{t 'OneDrive'}}</label>
                    </div>
                    <div class="col-sm-9">
                      <button type="button" class="btn btn-success when-not-onedrive">{{t 'Acquire_access'}}</button>
                      <button type="button" class="btn btn-danger when-onedrive">{{t 'Revoke_access'}}</button>
                      <span class="when-onedrive">&nbsp;{{t 'Authed_by'}} : <span class="placeholder">(User)</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>{{t 'For_Rubic_testers'}}</b>
                </h3>
              </div>
              <div class="panel-body">
                <p>{{t 'Desc_of_for_testers'}}</p>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="config-for-testers">{{t 'Show_tester_settings'}}</label>
                </div>
                <div class="only-testers">
                  <p>{{t 'Thanks_testers'}}</p>
                  <div class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">{{t 'Beta_firmware'}}</label>
                      </div>
                      <div class="col-sm-8">
                        <select class="form-control" id="config-beta-firmware">
                          <option value="false">{{t 'Hide_beta_versions'}}</option>
                          <option value="true">{{t 'Show_beta_versions'}}</option>
                        </select>
                      </div>
                      <div class="col-sm-12">
                        <p class="help-block"><small>{{t 'Desc_of_beta_firmware'}}</small></p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">{{t 'Log_verbosity'}}</label>
                      </div>
                      <div class="col-sm-8">
                        <select class="form-control" id="config-log-verbosity">
                          <option value="0">{{t 'Simple_logs'}}</option>
                          <option value="1">{{t 'Detail_logs'}}</option>
                        </select>
                      </div>
                      <div class="col-sm-12">
                        <p class="help-block"><small>{{t 'Desc_of_log_verbosity'}}</small></p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">{{t 'Init_cache'}}</label>
                      </div>
                      <div class="col-sm-8">
                        <select class="form-control" id="config-reset-all">
                          <option value="false">{{t 'Do_not_init_cache'}}</option>
                          <option value="true">{{t 'Init_cache_at_next_boot'}}</option>
                        </select>
                      </div>
                      <div class="col-sm-12">
                        <p class="help-block"><small>{{t 'Desc_of_init_cache'}}</small></p>
                      </div>
                    </div>
                    <!--<div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">{{t 'Catalog_editor'}}</label>
                      </div>
                      <div class="col-sm-8">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="config-cateditor">{{t 'Enable_catalog_editor'}}</label>
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end-->
    <div class="sidebar-right"></div>
    <div class="navbar navbar-default navbar-fixed-bottom navbar-inverse"></div>
  

</body></html>
