<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="rubic.js"></script>
    <script type="text/javascript" src="messages.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="window.css">
  </head><body>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse"></div>
    <div class="sidebar-left"></div>
    <div class="main-outer">
      <div class="main-inner config-header">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-justified nav-pills">
              <li>
                <a href="#" class="i18n">{Select_board}</a>
              </li>
              <li>
                <a href="#" class="i18n">{Select_features}</a>
              </li>
              <li>
                <a href="#" class="i18n">{Configure_io_pins}</a>
              </li>
              <li class="active">
                <a href="#" class="i18n">{Save_your_settings}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--begin-->
      <div class="main-inner config-body board-savecfg">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
      <!--end-->
    </div>
    <div class="sidebar-right"><p></p></div>
    <div class="navbar navbar-default navbar-fixed-bottom navbar-inverse"></div>
</body></html>
